
/*主体*/
/* fullSlide */
.fullSlide{width:100%;height:550px;position:relative;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;width: 100%;height: 550px;background-position:center center;background-repeat: no-repeat;}

.fullSlide .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:42px;height:3px;margin:1px;overflow:hidden;background:#000;filter:alpha(opacity=30);opacity:0.3;line-height:999px;}
.fullSlide .hd ul .on{background:#000;filter:alpha(opacity=60);opacity:0.6;}
/*.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:15%;z-index:1;width:40px;height:60px;background:url(images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next{left:auto;right:15%;background-position:-6px -137px;}*/

/*专区*/
.zhuanqu{
	width: 100%;
}
.zhuanqu ul{
	width: 1200px;
	list-style: none;
	margin: 60px auto;
	text-align: center;
}
.zhuanqu ul li{
	display: inline-block;
	vertical-align: top;
	width: 375px;
	height: 360px;
}
.zhuanqu ul li a{
	text-decoration: none;
}
.zhuanqu ul li:nth-child(2){
	margin: 0 15px;
}

.zhuanqu ul li .img{
	width: 375px;
	height: 252px;
	overflow: hidden;
}

.zhuanqu ul li .img img{
	width: 375px;
	height: 252px;
	display: block;
	transition: all 0.8s; 
}
.zhuanqu ul li:hover .img img{
	transform: scale(1.2);
}


.zhuanqu ul li .zhuanqu-title{
	/*display: block;*/
	display: none;
	/*font-family: 新宋体;*/
	font-weight: bolder;
	font-size: 20px;
	color: #3f3f3f;
	text-align: left;
	margin-left: 15px;
	line-height: 45px;
}

.zhuanqu ul li .hover-block{
	/*display: none;*/
	display: block;
	padding: 0 15px;
	text-align: left;
	height: 108px;
	/*border-bottom: 2px solid #4ca12e;*/
	/*box-shadow: 2px 2px 20px #cccccc;*/
}

.zhuanqu ul li .hover-block p:first-child{
	/*font-family: 新宋体;*/
	font-weight: bolder;
	font-size: 20px;
	color: #3f3f3f;
	/*color: #4ca12e;*/
	line-height: 45px;
}

.zhuanqu ul li .hover-block p:nth-child(2){
	font-size: 14px;
	color: #999999;
	opacity: 0;
}

.zhuanqu ul li .hover-block .hx{
	opacity: 0;
	width: 0;
	margin-left: -15px;
	margin-top: 24px;
	border: 0;
	height: 3px;
	background: #4ca12e;
	transition: width 2s;
	-moz-transition: width 2s;	/* Firefox 4 */
	-webkit-transition: width 2s;	/* Safari 和 Chrome */
	-o-transition: width 2s;	/* Opera */
}

/*.zhuanqu ul li:hover .zhuanqu-title{
	display: none;
}*/

.zhuanqu ul li:hover .hover-block{
	/*display: block;*/
	box-shadow: 2px 2px 20px #cccccc;
} 
.zhuanqu ul li:hover .hover-block p:first-child{
	color: #4ca12e;
}
.zhuanqu ul li:hover .hover-block p:nth-child(2){
	opacity: 1;
}
.zhuanqu ul li:hover .hover-block .hx{
	width: 375px;
	opacity: 1;
}

/*走进博盛*/
.into-bosheng{
	width: 100%;
	height: 470px;
	margin: 0 auto 30px;
	padding: 30px 0;
	background: #4ca12e;
}

.into-bosheng h3 p{
	color: #fff;
	text-align: center;
	font-weight: bolder;
	font-size: 24px;
	line-height: 60px;
}
.into-bosheng>p{
	color: #fff;
	text-align: center;
	font-size: 14px;
}
.into-bosheng .intro{
	width: 1200px;
	margin: 30px auto;
}
.into-bosheng .intro:after{
	content: "";
	display: table;
	clear: both;
	zoom:1;
}
.into-bosheng .intro .intro-left{
	width: 600px;
	height: 291px;
	float: left;
}
.into-bosheng .intro .intro-right{
	width: 600px;
	height: 291px;
	float: right;
}
.into-bosheng .intro .intro-right p{
	color: #fff;
	font-size: 14px;
	text-indent: 28px;
	margin-top: 30px;
    line-height: 22px;
}
.into-bosheng .intro .intro-right p span{
	text-transform: uppercase;
}
.into-bosheng .intro .intro-right p:first-child{
	font-size: 20px;
	font-weight: bolder;
	text-indent: 0;
	margin-top: 0;
}
.into-bosheng .intro .intro-right a{
	display: inline-block;
	margin-top: 30px;
	text-decoration: none;
	font-size: 14px;
	color: #cccccc;
	border: 1px solid #cccccc;
	padding: 2px 10px;
	text-transform: uppercase;
}

/*博盛拓展*/
.tuozhan{
	width: 100%;
	margin: 0 auto 30px;
}
.tuozhan h3 p{
	color: #4ca12e;
	text-align: center;
	font-weight: bolder;
	font-size: 24px;
	line-height: 50px;
}
.tuozhan>p{
	color: #4ca12e;
	text-align: center;
	font-size: 14px;
}
.tuozhan .detail{
	width: 1200px;
	margin: 30px auto;
	text-align: center;
}
.tuozhan .detail ul{
	width: 100%;
	list-style: none;
}
.tuozhan .detail ul:after{
	content: "";
	display: table;
	clear: both;
	zoom: 1;
}
.tuozhan .detail ul li{
	float: left;
	width: 226px;
	margin-right: 17.5px;
}
.tuozhan .detail ul li a{
	text-decoration: none;
}
.tuozhan .detail ul li:last-child{
	margin-right: 0;
}
.tuozhan .detail ul li .img{
	width: 226px;
	height: 150px;
	overflow: hidden;
}
.tuozhan .detail ul li .img img{
	display: block;
	width: 226px;
	height: 150px;
	border: 0;
	transition: all 0.8s;
}
.tuozhan .detail ul li:hover .img img{
	transform: scale(1.2);
}

.tuozhan .detail ul li .detail-content{
	width: 226px;
	height: 88px;
	background: #f8f8f8;
	color: #999999;
}

.tuozhan .detail ul li .detail-content p{
	font-size: 14px;
	text-align: left;
	padding: 0 10px;
}

.tuozhan .detail ul li .detail-content p:first-child{
	font-weight: bolder;
	color: #444;
	line-height: 35px;
}
.tuozhan .detail ul li:hover .detail-content{
	background: #4ca12e;
	color: #fff;
}
.tuozhan .detail ul li:hover .detail-content p:first-child{
	color: #fff;
}
.tuozhan .detail>a{
	display: inline-block;
	margin-top: 30px;
	text-decoration: none;
	font-size: 14px;
	color: #999999;
	border: 1px solid #cccccc;
	padding: 2px 12px;
	text-transform: uppercase;
}
.tuozhan .detail>a:hover{
	border: 1px solid #4ca12e;
	background: #4ca12e;
	color: #fff;
}

/*商务会议*/
.meet{
	width: 100%;
	height: 600px;
	margin: 0 auto 30px;
	padding: 30px 0;
	background: #f8f8f8;
}
.meet h3 p{
	color: #4ca12e;
	text-align: center;
	font-weight: bolder;
	font-size: 24px;
	line-height: 50px;
}
.meet>p{
	color: #4ca12e;
	text-align: center;
	font-size: 14px;
}
.meet ul{
	margin: 30px auto;
	width: 1200px;
	list-style: none;
	text-align: center;
}
.meet ul li{
	display: inline-block;
	width: 306px;
	height: 412px;
	vertical-align: top;
}
.meet ul li a{
	text-decoration: none;
}
.meet ul li .img{
	width: 306px;
	height: 206px;
	overflow: hidden;
}
.meet ul li .img img{
	display: block;
	width: 306px;
	height: 206px;
	transition: all 0.8s;
}
.meet ul li:hover .img img{
	transform: scale(1.2);
}
.meet ul li a .meet-discrib{
	display: block;
	width: 306px;
	height: 206px;
	background: #eeeeee;
	color: #444;
	padding: 30px 24px;
}
.meet ul li a .meet-discrib p{
	font-size: 14px;
	text-align: left;
	line-height: 22px;
}

.meet ul li a .meet-discrib p:first-child{
	font-weight: bolder;
	font-size: 16px;
	line-height: 45px;
}
.meet ul li:hover a .meet-discrib{
	background: #4ca12e;
	color: #fff;
}

/*最新动态&旅游攻略*/
.collection{
	width: 100%;
	padding: 20px 0;
}
.collection .collection-sub{
	width: 1200px;
	margin: 0 auto;
}
.collection .collection-sub{
	content: "";
	display: table;
	clear: both;
	zoom: 1;
}
.collection .collection-sub .dontai{
	width: 700px;
	float: left;
	padding-right: 30px;
}
.collection .collection-sub .gonglue{
	width: 500px;
	float: right;
	padding-left: 30px;
}
.collection  .collection-sub .dontai .title,
.collection  .collection-sub .gonglue .title{
	padding: 10px 0;
}
.collection  .collection-sub .dontai .hx,
.collection  .collection-sub .gonglue .hx{
	border-color: #4ca12e;
	margin-bottom: 10px;
}
.collection  .collection-sub .dontai .title:after,
.collection  .collection-sub .gonglue .title:after{
	content: '';
	display: table;
	clear: both;
}
.collection  .collection-sub .dontai .title h3 p,
.collection  .collection-sub .gonglue .title h3 p{
	float: left;
	padding-left: 10px;
    border-left: 6px solid #4ca12e;
}
.collection  .collection-sub .dontai .title a,
.collection  .collection-sub .gonglue .title a{
	float: right;
	text-transform: uppercase;
	text-decoration: none;
	color: #999999;
	font-size: 14px;
	margin-top: 5px;
}
.collection  .collection-sub .dontai .m-slide{
	content: '';
	display: table;
	clear: both;
	zoom: 1;
}
.collection  .collection-sub .dontai .m-slide .new_img{
	float: left;
	list-style: none;
	width: 319px;
	height: 294px;
	border-bottom: 1px solid #eeeeee;
}
.collection .collection-sub .dontai .m-slide .new_img li{
	height: 294px;
}
.collection  .collection-sub .dontai .m-slide .tab{
	float: right;
	list-style: none;
	width: 351px;
	padding-left: 30px;
}
.collection .collection-sub .dontai .m-slide .new_img li a .img{
	width: 319px;
	height: 201px;
	overflow: hidden;
}
.collection .collection-sub .dontai .m-slide .new_img li a .img img{
	display: block;
	width: 319px;
	height: 201px;
	border: 0;
	transition: all 0.8s;
}
.collection .collection-sub .dontai .m-slide .new_img li a:hover .img img{
	transform: scale(1.2);
}
.collection .collection-sub .dontai .m-slide .new_img li a{
	text-decoration: none;
}
.collection .collection-sub .dontai .m-slide .new_img li a p{
	font-size: 14px;
	color: #444;
	margin: 10px 0;
	font-weight: bolder;
}
/*.collection .collection-sub .dontai .m-slide .new_img li a p a{
	color: #444;
	text-decoration: none;
}
.collection .collection-sub .dontai .m-slide .new_img li p a:hover{
	color: #4ca12e;
}*/
.collection .collection-sub .dontai .m-slide .new_img li a p:last-child{
	color: #999999;
	margin: 0;
	font-weight: normal;
}
.collection .collection-sub .dontai .m-slide .new_img li a p:last-child span{
	color: #4ca12e;
}
.collection  .collection-sub .dontai .m-slide .tab li a{
	display: block;
	text-decoration: none;
	border-bottom: 1px dashed #eeeeee;
	padding: 8px 0;
	font-size: 14px;
	color: #999999;
}
.collection  .collection-sub .dontai .m-slide .tab li:first-child a{
	padding-top: 0;
}
.collection  .collection-sub .dontai .m-slide .tab li a p:first-child{
	margin: 3px 0;
	color: #444;
	font-weight: bolder;
}
.collection  .collection-sub .dontai .m-slide .tab li.on a p:first-child{
	color: #4ca12e;
}
.collection  .collection-sub .dontai .m-slide .tab li:first-child a p:first-child{
	margin-top: 0;
}
/*游玩攻略*/
.collection  .collection-sub .gonglue ul{
	list-style: none;
}
.collection .collection-sub .gonglue ul li{
	border-bottom: 1px dashed #eeeeee;
	padding: 15px 0;
}
.collection .collection-sub .gonglue ul li:first-child{
	padding-top: 0;
}
.collection .collection-sub .gonglue ul li a:after{
	content: '';
	display: table;
	clear: both;
	zoom: 1;
}
.collection .collection-sub .gonglue ul li a .img{
	width: 102px;
	height: 70px;
	float: left;
	overflow: hidden;
}
.collection .collection-sub .gonglue ul li a .img img{
	width: 102px;
	height: 70px;
	transition: all 0.8s;
}
.collection .collection-sub .gonglue ul li a:hover .img img{
	transform: scale(1.2);
}
.collection .collection-sub .gonglue ul li a .discrib{
	width: 368px;
	float: right;
	padding-left: 20px;
	font-size: 14px;
	color: #999999;
}
.collection .collection-sub .gonglue ul li a .discrib p:first-child{
	display: block;
	text-decoration: none;
	font-weight: bolder;
	margin-bottom: 8px;
	color: #444;
}
.collection .collection-sub .gonglue ul li a:hover .discrib p:first-child{
	color: #4ca12e;
}

/*友情链接*/
.link{
	width: 100%;
	padding: 30px 0 0;
}
.link ul{
	margin: 0 auto;
	padding: 30px 0;
	width: 1200px;
	list-style: none;
	border-top: 1px solid #444;
}
.link ul:after{
	content: '';
	display: table;
	clear: both;
	zoom: 1;
}
.link ul li{
	float: left;
	margin-left: 20px;
}
.link ul li:first-child{
	width: 96px;
	height: 59px;
	padding-top: 10px;
	color: #4ca12e;
	margin-left: 0;
}
.link ul li:first-child p{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bolder;
}



